/* Afin de valider ton code CSS, clic sur la petite flèche en haut à droite de cette fenêtre. Pour rappel, tu peux jeter un oeil par ici pour en savoir un peu plus: https://blog.codepen.io/2017/10/11/analyze-css-now-using-stylelint/ */

/* Ecris ici ton code CSS */
html {
    margin: 0;
    padding: 0;
    background-image: url("https://www.sortiraparis.com/images/2/1467/223656-le-cirque-d-hiver-fait-la-surprise-2.jpg");
}
body {
    font-family: 'Skranji', cursive;
    font-size: 16pt;
    padding: 1%;
    margin: 0;
}
#header {
    background-image: url("https://data.pixiz.com/output/user/frame/preview/400x400/4/1/3/3/1533314_506ac.jpg");
    background-size: contain;
}
.bloc {
    background-color: #FEFEFE;
    opacity: 0.9;
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
}
h1 {
    font-size: 100pt;
    color: #D1AE01;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h2 {
    font-size: 20pt;
    color: #D1AE01;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 22%;
}
nav li {
    font-size: 20pt;
    padding: 1%;
    margin: 2%;
    text-align: center;
    background-color: #D1AE01;
    border : 1px solid #D1AE01;
    border-radius: 20%;
}
section ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 3%;
}
section li {
    font-size: 20pt;
    padding: 1%;
    margin: 2%;
    text-align: center;
    border : 1px solid #D1AE01;
    border-radius: 5%;
}
section{
  text-align: center;
}
h3 p {
    padding: 0;
    margin: 90; 
    text-align: justify;
}
img {
    height: 300px;
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
}
table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}
th {
    border: 0px;
    padding: 0;
    text-align: center;
}
td {
    border: 2px solid #D1AE01;
    text-align: center;
}
.selection {
    background-color: #D1AE01;
    font-weight: bold;
    color: white;
}
hr {
    border: 0;
    height: 0px;
    background: #D1AE01;
}

form {
    text-align: center;
    margin-top: 0;
}
.envoyer {
    background-color: #D1AE01;
    padding: 12px 45px;
    border-radius: 20px;
    cursor: pointer;
    color: #010000;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.envoyer:hover {
    opacity: 0.8;
    background-color: #D1AE01;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 16pt;
    padding: 15px 10px 10px;
    border: 1px solid #D1AE01;
    background-color: #FEFEFE;
    color: #D1AE01;
    border-radius: 5px;
    width: 70%;
    outline: none;
    text-align: center;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
#promotion { 
    width: 50%; 
    margin: 0 auto; 
    border: 10px;
    border-radius: 10px;
    overflow: hidden;
} 
#newshr { 
    position: relative;
    width: 700px; 
    height: 50px;
    overflow:hidden; 
    color: blue; 
    background: red; 
    border:1px inset white;
} 
#defile { 
    position: absolute; 
    margin-top: 10px;
}
